body{
    font-family: Poppins, sans-serif;
}

#donateForPoorChildren:before {
    content: ' ';
    display: block;
    position: absolute;
    opacity:0.3;
    height: 75%;
    width: 85%;
    background-image: url('../img/home-banner.jpg');
    background-position: center center;
    background-size: cover;
}

#bannerText1 {
    position: relative;
    top: 110px;
    text-align: center;
    font-size: small;
}

#bannerText2 {
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 120px;
}

#bannerText3 {
    text-align: center;
    font-size: small;
    position: relative;
    top: 130px;
}

#bannerText4 {
    text-align: center;
    font-size: small;
    position: relative;
    top: 140px;
}

#donateNowBtn {
    top: 160px;
    position: relative;
    left: 400px;
    padding: 0.5% 2% 0.5% 2%;
    color: white;background-color: dodgerblue;
    border: 0;
}

#viewActivityBtn {
    top: 160px;
    position: relative;
    left: 400px;
    padding: 0.5% 2% 0.5% 2%;
    background-color: transparent;color: black;border: 1px solid black;
}